In [2]:
import pandas as pd
from selenium import webdriver

In [4]:
subjectdata=pd.read_excel(r"C:\Users\rk\Desktop\工作簿1.xlsx")

In [5]:
subjectdata[:3]

   领域             领域英文名    学科代码 学科中文名称       学科英文名称  是否排名 领域.1
0  理学  Natural Sciences  RS0101     数学  Mathematics     1   理学
1  理学  Natural Sciences  RS0102    物理学      Physics     1   理学
2  理学  Natural Sciences  RS0103     化学    Chemistry     1   理学

In [7]:
subjectdata["学科代码"][1]

'RS0102'

In [8]:
browser=webdriver.Chrome(r"C:\Users\rk\Desktop\chromedriver.exe")

In [ ]:
browser.get(r"http://192.168.1.160:9530/#/world_top_subject/RS0210")

In [76]:
counter=0

In [9]:
rowlen=len(subjectdata["学科代码"])

In [10]:
path="http://192.168.1.160:9530/#/world_top_subject/"

In [11]:
path

'http://192.168.1.160:9530/#/world_top_subject/'

In [75]:
import time

In [ ]:
for i in range(rowlen):
    browser.get(path+subjectdata["学科代码"][counter])
    counter+=1
    print(counter)
    time.sleep(2)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58