In [1]:
import pandas as pd

In [59]:
data=pd.read_excel(r"C:\Users\rk\Desktop\各排名机构映射表-苗灏20200610.xlsx")
data[:3]

  各工作表及其说明   Unnamed: 1     Unnamed: 2
0       序号            表             说明
1        1  2-机构映射表更新记录    代码更新规则及记录格式
2        2  3-机构映射表字段说明  机构映射表的字段说明及备注

In [60]:
allsheets=pd.ExcelFile(r"C:\Users\rk\Desktop\各排名机构映射表-苗灏20200610.xlsx")

In [61]:
allsheets.sheet_names

['1-工作簿说明',
 '2-机构映射表更新记录',
 '3-机构映射表字段说明',
 '4-机构映射表',
 '5-中国高校名单',
 '6-SciVal-InCites映射',
 '7-学校名单清理',
 '8-ESI机构映射',
 '9-QS中英文机构映射',
 '10-国家地区映射表',
 '11-更新方法备注']

In [63]:
allinformation=allsheets.parse('4-机构映射表')

In [65]:
allinformation.iloc[:2]

,更新记录（准机构名称）,Unnamed: 1,代码信息,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,仅供技术部APP暂时使用（不可用于排名发布）,Unnamed: 9,...,Unnamed: 92,Unnamed: 93,Unnamed: 94,Unnamed: 95,Unnamed: 96,历史标准数据（甘）,Unnamed: 98,Unnamed: 99,Unnamed: 100,Unnamed: 101
0,更新类别,更新时间,统一代码,重复代码,作废代码,不排名,被合并至,代码备注,准标准机构英文全称,重复英文校名,...,QS英文机构全称,QS-Country,QS备注,USNews英文机构全称,USNews-Country,标准化代码（历史）,标准化英文名称（甘）,标准化中文名称（甘）,国家（甘）,刘
1,NaN,NaN,RC00001,1,NaN,NaN,NaN,NaN,Tsinghua University,1,...,Tsinghua University,China (Mainland),NaN,Tsinghua University,China,I003941,Tsinghua University,清华大学,China,NaN

In [67]:
rownum,columsnum = allinformation.shape

In [73]:
for i in range(rownum):
    for j in range(columsnum):
        if '\xa0' in str(allinformation.iloc[i,j]):
            print(allinformation.iloc[i,2],allinformation.iloc[0,j])
            print(allinformation.iloc[i,j])

RC00555 InCites英文机构全称
Hubei University of Science & Technology
RC00812 标准机构英文全称
University of Chinese Academy of Social Sciences
RC00812 BCUR英文机构全称
University of Chinese Academy of Social Sciences
RI00069 体育院系英文全称
Institute for Sport and Exercise/National Institute of Sport Studies
RI00106 GRAS备注
非大学，is the main state research organization and the primary body that conducts research and coordinates activities
RI00158 体育院系英文全称
Department of Physical Education
RI00284 标准化英文名称（甘）
Sofia University "St. Kliment Ohridski"
RI00524 GRAS备注
非大学，Grandes Écoles ；来源：https://fr.wikipedia.org/wiki/%C3%89cole_des_hautes_%C3%A9tudes_en_sant%C3%A9_publique
RI00631 ARWU备注
2020/1/3备注：On 1 January 2017, the university became part of the University Clermont Auvergne.
RI00681 InCites备注
It was created with the merger of Blaise Pascal University and the University of Auvergne on 1 January 2017
RI00779 官网全称
Julius-Maximilians-Universität Würzburg (JMU)
RI00928 GRAS备注
隶属于Indian Statistical Institute。ISI has its headquarters in Baranagar, Kolkata, West Bengal.
RI01007 ARWU备注
同AP06028；formerly University of Pune and University of Poona
RI01086 标准机构英文全称
Baqiyatallah University of Medical Sciences (BMSU)
RI01086 GRAS2019英文机构全称
Baqiyatallah University of Medical Sciences (BMSU)
RI01089 标准机构英文全称
Gorgan University of Agricultural Sciences and Natural Resources
RI01089 ARWU英文机构全称
Gorgan University of Agricultural Sciences and Natural Resources
RI01154 GRAS备注
三个机构于2019年1月合并：Dublin Institute of Technology, Institute of Technology, Blanchardstown, and Institute of Technology, Tallaght
RI01648 Sports备注
被合并到Inland Norway University of Applied Sciences in 2017，检索式需要注意添加到合并后的学校
RI01753 标准机构英文全称
Jozef Pilsudski University of Physical Education in Warsaw
RI01753 Sports英文机构全称
Józef Piłsudski University of Physical Education in Warsaw
RI01753 体育院系英文全称
Józef Piłsudski University of Physical Education in Warsaw
RI01753 更改结果
Jozef Pilsudski University of Physical Education in Warsaw
RI01803 GRAS备注
隶属于 Universidade Nova de Lisboa (UNL)
RI02089 标准机构英文全称
Hankuk University of Foreign Studies
RI02089 GRAS2019英文机构全称
Hankuk University of Foreign Studies
RI02427 标准机构英文全称
Van Yuzuncu Yil University
RI02427 GRAS2019英文机构全称
Van Yuzuncu Yil University
RI02443 官网全称
V. N. Karazin Kharkiv National University
RI02451 ARWU备注
2020/1/3备注：is a portal campus of New York University serving as a fully integrated liberal arts and science college, located in Abu Dhabi, United Arab Emirates. Together with New York University in New York City and New York University Shanghai, the portal campus is part of NYU's Global Network University
RI03046 体育院系英文全称
Department of Health and Physical Activity/Department of Sports Medicine and Nutrition
RI03131 标准化英文名称（甘）
Vietnam National University,Hanoi
RI03198 准标准机构英文全称
The B.V. Bhoomaraddi College of Engineering and Technology

In [56]:
data.shape

(10, 3)

In [50]:
data.columns

Index(['标准代码', 'Old_code', '名称', 'Country', '标准英文名称', '标准中文名称', 'Unnamed: 6'], dtype='object')

In [23]:
data.iloc[1,2]

'University of Buenos Aires'

In [24]:
data['标准英文名称'].iloc[2]

'National University of La Plata'

In [28]:
data['标准英文名称'].iloc[:9]

0    Université Djillali Liabès de Sidi-Bel-Abbès
1                      University of Buenos Aires
2                 National University of La Plata
3                Universidad Nacional del Comahue
4                  National University of Cordoba
5            National University of Mar del Plata
6             National University of the Littoral
7                National University of the South
8                  National University of Rosario
Name: 标准英文名称, dtype: object

In [37]:
"\xa0" in data['标准英文名称'].iloc[6]

False

In [52]:
rows=len(data)

In [53]:
colu=len(data.columns)

In [54]:
for j in range(rows)[1:]: 
    if "\xa0" in str(data['标准英文名称'].iloc[j]):
        print(data['标准英文名称'].iloc[j])
        data['标准英文名称'].iloc[j]=str(data['标准英文名称'].iloc[j]).replace('\xa0'," ")
        print(data['标准英文名称'].iloc[j])

In [47]:
data.to_excel(r"C:\Users\rk\Desktop\拟发布机构清理2.xlsx")